<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/Logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets async="true">
    <target xsi:type="File"
            name="authFile"
            fileName="${basedir}/Logs/Controllers/AuthController.log"
            layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="14"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />

    <target xsi:type="File" name="billingFile" fileName="${basedir}/Logs/Controllers/BillingController.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="categoriesFile" fileName="${basedir}/Logs/Controllers/CategoriesController.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="dashboardFile" fileName="${basedir}/Logs/Controllers/DashboardController.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="favouritesFile" fileName="${basedir}/Logs/Controllers/FavouritesController.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="invoicesFile" fileName="${basedir}/Logs/Controllers/InvoicesController.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="productsFile" fileName="${basedir}/Logs/Controllers/ProductsController.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="reportsFile" fileName="${basedir}/Logs/Controllers/ReportsController.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="stockFile" fileName="${basedir}/Logs/Controllers/StockController.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="storeProfileFile" fileName="${basedir}/Logs/Controllers/StoreProfileController.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="uploadFile" fileName="${basedir}/Logs/Controllers/UploadController.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="cloudinaryServiceFile" fileName="${basedir}/Logs/Services/CloudinaryService.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="jwtServiceFile" fileName="${basedir}/Logs/Services/JwtService.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="pdfServiceFile" fileName="${basedir}/Logs/Services/PdfService.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="databaseFile" fileName="${basedir}/Logs/Data/DbConnectionFactory.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    <target xsi:type="File" name="systemFile" fileName="${basedir}/Logs/System.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${logger}|${message}${newline}" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="14" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />

    <target xsi:type="Console" name="console" layout="${longdate:universalTime=true}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <logger name="AuthController" minlevel="Debug" writeTo="authFile,console" final="true" />
    <logger name="BillingController" minlevel="Debug" writeTo="billingFile,console" final="true" />
    <logger name="CategoriesController" minlevel="Debug" writeTo="categoriesFile,console" final="true" />
    <logger name="DashboardController" minlevel="Debug" writeTo="dashboardFile,console" final="true" />
    <logger name="FavouritesController" minlevel="Debug" writeTo="favouritesFile,console" final="true" />
    <logger name="InvoicesController" minlevel="Debug" writeTo="invoicesFile,console" final="true" />
    <logger name="ProductsController" minlevel="Debug" writeTo="productsFile,console" final="true" />
    <logger name="ReportsController" minlevel="Debug" writeTo="reportsFile,console" final="true" />
    <logger name="StockController" minlevel="Debug" writeTo="stockFile,console" final="true" />
    <logger name="StoreProfileController" minlevel="Debug" writeTo="storeProfileFile,console" final="true" />
    <logger name="UploadController" minlevel="Debug" writeTo="uploadFile,console" final="true" />
    <logger name="CloudinaryService" minlevel="Debug" writeTo="cloudinaryServiceFile,console" final="true" />
    <logger name="JwtService" minlevel="Debug" writeTo="jwtServiceFile,console" final="true" />
    <logger name="PdfService" minlevel="Debug" writeTo="pdfServiceFile,console" final="true" />
    <logger name="DbConnectionFactory" minlevel="Debug" writeTo="databaseFile,console" final="true" />
    <logger name="*" minlevel="Info" writeTo="systemFile,console" />
  </rules>
</nlog>
